* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.principal {
	background-image: url(../img/fundo-banner-ies~4.jpg);
	background-repeat: no-repeat;
    background-size: 675%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-título {
	height: 20vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.título-principal {
	font-size: 50px;
	color: #00BFFF;
	font-family: Dokdo;
}

.box-image {
	height: 390px;
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto-principal {
	width: 14vw;
	height: 28vh;
	border-radius: 138px;
}

.box-texto {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.texto-página {
	width: 1000px;
	height: 400px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: Acme;
}

.botão-um {
	width: 2.4vw;
	height: 5vh;
	border-radius: 8px;
	font-size: 38px;
	font-family: Archivo Black;
	color: #FFFFFF;
	border-color: #FFFFFF;
	background: transparent;
	position: relative;
	top: 0px;
	right: 220px;
}

.botão-dois {
	width: 2.4vw;
	height: 5vh;
	border-radius: 8px;
	font-size: 26px;
	font-family: Archivo Black;
	color: #FFFFFF;
	border-color: #FFFFFF;
	background: transparent;
	position: relative;
	top: 0px;
	right: 200px;
}

.final {
	display: flex;
	justify-content: flex-end;
	color: #ADFF2F;
	font-family: Kanit;
}