* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.principal {
	background-image: url(./fundo-banner-ies~4.jpg);
}

.box-título {
	height: 100px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.título-principal {
	font-size: 50px;
	color: #00BFFF;
	font-family: Dokdo;
}

.box-image {
	height: 390px;
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto-principal {
	width: 14vw;
	height: 28vh;
	border-radius: 138px;
}

.box-texto {
	display: flex;
	justify-content: center;
}

.texto-página {
	width: 1000px;
	height: 400px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: Acme;
}

.final {
	display: flex;
	justify-content: flex-end;
	color: #ADFF2F;
	font-family: Kanit;
}